
<form class="form add-comment">
      <div class="form-group">
        <label for="#comment-title">Blog Name:</label>
        <input class="form-input" type="text" id="new-comment-title" name="new-comment-title" />
      </div>
      <div class="form-group">
        <label for="new-comment-text">Blog Post</label>
        <textarea class="form-input" id="new-comment-text" name="#new-comment-text"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="">Post Blog</button>
      </div>
    </form>
  </div>