{{#each posts as |post|}}
<div class="card">
    <h3 class="card-header">{{title}}</h3>
    <p class="card-text">{{post_text}}</p>
    <p class="card-text"> - {{post.username}} , {{date}}</p>
</div>


{{/each}}

