<div class ="card">
            <h3 class = "card-header">{{title}}</h3>
            <p class ="card-text">{{text}}</p>
            <p class ="card-text"> - {{username}} , {{date}}</p>
        </div>
        